<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>

<body>
  <mat-toolbar class="toolbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="companyName">Ankit Dhote & co</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="openContact()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>email</mat-icon>
      Contact Us
    </button>
  </mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3 text-center headingColumn">
        <span class="nameHeading">Ankit Dhote & co</span> <br />
        <span class="text-dark fw-bold">Chartered Accountant in Betul</span><br />
        <button mat-raised-button color="primary" (click)="openContact()" class="contactButton">CONTACT US</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <img class="shadow p-1 mb-5 bg-white rounded img-fluid" src="../assets/demopic.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-5 mb-5">
        <mat-card class="shadow mb-3 rounded p-5 bg-muted" style="background-color: #c2c2c2;">
          <div class="text-center">
            <h1 class="text-dark mb-3"><b>About Us</b></h1>
          </div>
          <div class="text-left">Committed to provide time-bound deliver of wide range of professional
            solutions in the most efficient and cost-effective way for continuous growth of your organization.<div>
              &nbsp;
              <br>Our Vision is to provide Valuable service with high level of ethics and integrity.
              <br>
              <br>
              <ul>
                <li>We strive to provide robust business solutions with the use of latest technologies and applications
                </li>
                <li>We respect our client’s business, time and efforts.</li>
                <li>We believe in meeting client’s expectations with trust.</li>
                <li>We believe in providing simple solutions with logical conclusions.</li>
              </ul><br>
            </div>
            <div><b>Service we love to do.</b></div>
            <div><br><b>ACCOUNTING SERVICES</b><br></div>
            <div>
              <ul>
                <li>Preparation of monthly accounts</li>
                <li>Compilation of annual financial statements</li>
                <li>Submission of all statutory returns</li>
                <li>Payroll and budgeting</li>
              </ul><br>
            </div>
            <div><b>STATUTORY AND TAX AUDIT</b><br></div>
            <div>
              <ul>
                <li>Statutory Audit for Private and Public companies</li>
                <li>Tax Audit of Companies, Firms and Proprietary Concerns under IT Act</li>
                <li>Audit of Charitable Trusts and other associations</li>
                <li>Compliance with Indian Accounting Standards and Auditing Standards</li>
              </ul><br>
            </div>
            <div><b>SECRETARIAL COMPLIANCES</b><br></div>
            <div>
              <ul>
                <li>Incorporation of legal entities</li>
                <li>Statutory registrations</li>
                <li>Preparation and maintenance of secretarial records</li>
                <li>E-filing of forms with Registrar of Companies</li>
                <li>Advisory services</li>
              </ul><br>
            </div>
            <div><b>DIRECT AND INDIRECT TAX</b><br></div>
            <div>
              <ul>
                <li>Company Taxation</li>
                <li>Individual Taxation</li>
                <li>Preparation and submission of Tax Returns</li>
                <li>Tax Advise for individuals, partnership firms and companies.</li>
                <li>Filing of monthly / quarterly / yearly returns</li>
                <li>Capital Gain tax computation</li>
                <li>Tax clearance certificates</li>
                <li>Tax compliance assistance under various laws<br></li>
              </ul><br>
            </div>
            <div><b>MANAGEMENT SERVICES</b><br></div>
            <div>
              <ul>
                <li>Designing system of periodical “Review of Operations”</li>
                <li>Forecasting profitability statement, Balance Sheet and cash flows</li>
                <li>Fixed Assets verification and maintenance of register</li>
                <li>Stock Auditing</li>
                <li>Design and implementation of Internal Finance Controls</li>
                <li>Assistance in adapting to fast changing business environment</li>
                <li>Evaluation of accounting and MIS to identify system weakness and advise on corrective measures</li>
              </ul><br>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-md-1 mb-5 ">
        <mat-card class="text-center p-3">
          <h1><b style="color: #48487f;">Address</b></h1>
          <hr>
          <p class="text-dark"> Sharda Nagar, Ranipur Road, Near Kamani Gate
            Betul, Madhya Pradesh 460001
            India</p>
        </mat-card>
      </div>
      <div class="col-md-4 offset-md-2 mb-5 ">
        <mat-card class="text-center p-3">
          <h1><b style="color: #48487f;">Contact</b></h1>
          <hr>
          <span class="text-dark" ><b>Email:</b></span>
          <span class="text-dark">  info@ankitdhote.com</span><br/>
          <span class="text-dark"><b>Contact No:</b></span>
          <span class="text-dark">  +918892883473</span><br/>
        </mat-card>
      </div>
    </div>
    <div class="row">
     <hr>
    </div>
  </div>
</body>

</html>

